.css_editor {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--v-cssvar-ffffff);
  display: none;
}

.css_editor[displayed="true"] {
  display: block;
}

#canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}