.css_editor .css_editor_toolbar {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 45px;
  height: calc(45px * 4 - 5px);
  display: grid;
  padding: 5px;
  grid-template-rows: repeat(4, 1fr);
  box-sizing: border-box;
  grid-row-gap: 5px;
  background: var(--v-cssvar-ededf2);
  border-radius: 15px;
  overflow: hidden;
  transform: translateY(-50%);
}

.css_editor .css_editor_toolbar .css_editor_toolbar_button {
  position: relative;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css_editor .css_editor_toolbar .css_editor_toolbar_button[using="true"] {
  background: var(--v-cssvar-ffffff);
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.1);
}

.css_editor .css_editor_toolbar .css_editor_toolbar_button  span.css_material_symbols_rounded {
  width: 20px;
  height: 20px;
  color: var(--v-cssvar-333333);
}