.css_new_document_modal_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: var(--v-cssvar-backdrop-filter-blur);
  -webkit-backdrop-filter: var(--v-cssvar-backdrop-filter-blur);
  display: none;
}

.css_new_document_modal_overlay[displayed="true"] {
  display: block;
}

.css_new_document {
  position: absolute;
  top: 50%;
  left: 50%;
  width: clamp(350px, 70%, 550px);
  height: clamp(250px, 70%, 450px);
  transform: translate(-50%, -50%);
  border-radius: var(--v-cssvar-border-radius-default);
  background: var(--v-cssvar-f9f9fb);
  display: none;
}

.css_new_document[displayed="true"] {
  display: block;
}

.css_new_document .css_new_document_title {
  color: var(--v-cssvar-333333);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  user-select: none;
  -webkit-user-select: none;
}

.css_new_document .css_new_document_ratio_preview {
  position: absolute;
  top: 50px;
  left: 0px;
  width: calc(100% - 200px);
  height: calc(100% - 50px - 40px);
  user-select: none;
  -webkit-user-select: none;
}

.css_new_document .css_new_document_properties {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 200px;
  height: calc(100% - 50px - 40px);
  padding: 10px;
  box-sizing: border-box;
}

.css_new_document .css_new_document_properties .css_new_document_property {
  position: relative;
  width: 100%;
  height: 65px;
}

.css_new_document .css_new_document_properties .css_new_document_property .css_new_document_property_name {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 20px;
  font-size: 13px;
  display: flex;
  align-items: center;
  color: var(--v-cssvar-333333);
  user-select: none;
  -webkit-user-select: none;
}

.css_new_document .css_new_document_properties .css_new_document_property .css_new_document_property_value {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css_new_document .css_new_document_properties .css_new_document_property .css_new_document_property_value input {
  position: absolute;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-sizing: border-box;
  border-radius: var(--v-cssvar-border-radius-small);
  background: var(--v-cssvar-ededf2);
  color: var(--v-cssvar-333333);
  font-size: 16px;
}

@media screen and (max-width: 450px) {
  .css_new_document .css_new_document_ratio_preview {
    top: calc(50px + 150px);
    left: 0px;
    width: calc(100% - 65px * 3);
    height: calc(100% - 50px - 50px - 150px);
  }

  .css_new_document .css_new_document_properties {
    top: 50px;
    right: 0px;
    width: 100%;
    height: calc(65px * 3);
  }
}

.css_new_document .css_new_document_buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}

.css_new_document .css_new_document_buttons .css_new_document_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--v-cssvar-ededf2);
  border-radius: var(--v-cssvar-border-radius-small);
  color: var(--v-cssvar-333333);
  font-weight: 500;
  user-select: none;
  -webkit-user-select: none;
}