.css_home {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: var(--v-cssvar-ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.css_home .css_home_title {
  font-size: 30px;
  font-weight: 700;
  color: var(--v-cssvar-333333);
  user-select: none;
  -webkit-user-select: none;
}

.css_home .css_home_buttons {
  width: 180px;
  height: calc(55px * 3);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 10px;
  user-select: none;
  -webkit-user-select: none;
}

.css_home .css_home_buttons .css_home_button {
  color: var(--v-cssvar-333333);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--v-cssvar-ededf2);
  border-radius: var(--v-cssvar-border-radius-default);
  user-select: none;
  -webkit-user-select: none;
}