:root {
  --v-cssvar-main-color: #18B2FF;
  --v-cssvar-main-color-r: 24;
  --v-cssvar-main-color-g: 178;
  --v-cssvar-main-color-b: 255;

  --v-cssvar-main-color-opacity-a: 1;
  --v-cssvar-main-color-opacity-b: 0.8;
  --v-cssvar-main-color-opacity-c: 0.15;
  --v-cssvar-main-color-opacity-d: 0.11;

  --v-cssvar-ffffff: #ffffff;
  --v-cssvar-ffffff-r: 255;
  --v-cssvar-ffffff-g: 255;
  --v-cssvar-ffffff-b: 255;
  --v-cssvar-ffffff-opacity-a: 1;
  --v-cssvar-ffffff-opacity-b: 0.7;

  --v-cssvar-f9f9fb: #f9f9fb;
  --v-cssvar-f9f9fb-r: 249;
  --v-cssvar-f9f9fb-g: 249;
  --v-cssvar-f9f9fb-b: 251;


  --v-cssvar-ededf2: #ededf2;
  --v-cssvar-ededf2-r: 237;
  --v-cssvar-ededf2-g: 237;
  --v-cssvar-ededf2-b: 242;
  --v-cssvar-ededf2-opacity-a: 0.5;

  --v-cssvar-aeaeb2: #aeaeb2;
  --v-cssvar-aeaeb2-r: 174;
  --v-cssvar-aeaeb2-g: 174;
  --v-cssvar-aeaeb2-b: 178;

  --v-cssvar-333333: #333333;
  --v-cssvar-333333-r: 51;
  --v-cssvar-333333-g: 51;
  --v-cssvar-333333-b: 51;

  --v-cssvar-333333-opacity-a: 1;
  --v-cssvar-333333-opacity-b: 0.8;
  --v-cssvar-333333-opacity-c: 0.6;
  --v-cssvar-333333-opacity-d: 0.33;

  --v-cssvar-f4252c: #f4252c;
  --v-cssvar-f4252c-r: 244;
  --v-cssvar-f4252c-g: 37;
  --v-cssvar-f4252c-b: 44;

  --v-cssvar-f4252c-opacity-a: 0.15;

  --v-cssvar-border-radius-default: 15px;
  --v-cssvar-border-radius-small: 8px;

  --v-cssvar-transition-duration: 0.32s;

  --v-cssvar-backdrop-filter-blur:blur(15px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --v-cssvar-main-color-opacity-a: 1;
    --v-cssvar-main-color-opacity-b: 0.8;
    --v-cssvar-main-color-opacity-c: 0.28;
    --v-cssvar-main-color-opacity-d: 0.15;

    --v-cssvar-ffffff: #1d1d20;
    --v-cssvar-ffffff-r: 29;
    --v-cssvar-ffffff-g: 29;
    --v-cssvar-ffffff-b: 32;

    --v-cssvar-f9f9fb: #0e0e11;
    --v-cssvar-f9f9fb-r: 14;
    --v-cssvar-f9f9fb-g: 14;
    --v-cssvar-f9f9fb-b: 17;

    --v-cssvar-ededf2: #17171c;
    --v-cssvar-ededf2-r: 23;
    --v-cssvar-ededf2-g: 23;
    --v-cssvar-ededf2-b: 18;

    --v-cssvar-aeaeb2: #5a5a6c;
    --v-cssvar-aeaeb2-r: 90;
    --v-cssvar-aeaeb2-g: 90;
    --v-cssvar-aeaeb2-b: 108;

    --v-cssvar-333333: #f9f9fb;
    --v-cssvar-333333-r: 255;
    --v-cssvar-333333-g: 255;
    --v-cssvar-333333-b: 255;

    --v-cssvar-333333-opacity-a: 1;
    --v-cssvar-333333-opacity-b: 0.8;
    --v-cssvar-333333-opacity-c: 0.6;
    --v-cssvar-333333-opacity-d: 0.33;
  }
}

:root {
  --v-cssvar-safe-area-left: 0px;
  --v-cssvar-safe-area-right: 0px;
  --v-cssvar-safe-area-top: 0px;
  --v-cssvar-safe-area-bottom: 0px;
}

@supports (bottom: constant(safe-area-inset-top)) {
  :root {
    --v-cssvar-safe-area-left: constant(safe-area-inset-left);
    --v-cssvar-safe-area-right: constant(safe-area-inset-right);
    --v-cssvar-safe-area-top: constant(safe-area-inset-top);
    --v-cssvar-safe-area-bottom: constant(safe-area-inset-bottom);
  }
}

@supports (bottom: env(safe-area-inset-top)) {
  :root {
    --v-cssvar-safe-area-left: env(safe-area-inset-left);
    --v-cssvar-safe-area-right: env(safe-area-inset-right);
    --v-cssvar-safe-area-top: env(safe-area-inset-top);
    --v-cssvar-safe-area-bottom: env(safe-area-inset-bottom);
  }
}